$primaryColor: #FF3A22;
$secondaryColor: #4988E7;
$darkGrey: #504C4C;
$mediumGrey: #A0A0A0;
$lightGrey: #E7E7E7;
$black: black;

$fontColor: $black;

$defaultFont: 'Verdana', sans-serif;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

$box-radius: 4px;